<div class="wrapper profile-view">
  <header class="header">
    <h1 style="text-align: center">Profile</h1>
  </header>
  <aside class="sidebar">
    <div class="profile-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
    </div>

    <div class="profile-work">
        <label>WORK LINKS:</label>
        <br>
        <a href="">Website Link</a><br/>
        <a href="">Web Designer</a><br/>
    </div>
  </aside>
  <article class="content">
    <div>
      <!-- more stuff -->
    </div>
    <div class="profile-info">
      <label>Name:</label> <%=@profile.full_name%>
      <br>
      <label>Email:</label> <%=@profile.user.email%>
      <br>
      <br>
      <label>Profile Bio:</label>
        <%=@profile.bio%>

    </div>
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user, @profile.id), :class => "btn btn-secondary edit-profile"%>
  </article>
</div>
