<div class="wrapper profile-view">
  <header class="header">
    <h1>Client</h1>
  </header>
  <aside class="sidebar">
    <div class="profile-img">
    </div>

    <div class="profile-work">
        <br>
    </div>
  </aside>
  <article class="content">

    <div class="profile-info">
      <label>Client Name:</label>
      <%=@client.name%>
      <br>

      <% if !(@client.projects.empty?) %>
        <label>Project Names</label>
        <% @client.projects.each do |project| %>
          <%=project.name%>
        <% end %>

      <% end %>

    </div>

    <%= link_to 'All Clients', clients_path, :class => "btn btn-secondary" %>


  </article>
</div>
