<nav class="navbar navbar-expand-md navbar-light bg-light footer">
  <span id="copyright">
    &copy; 2020
  </span>
  <span id="hearts">
    Made with <span class="heart-symbol">&hearts;</span>
  </span>
</nav>
