<% Profile.all.each do |profile| %>
    <div class="row">
        <div class="col-md-6">
            <label>Name</label>
        </div>
        <div class="col-md-6">
            <p><%=profile.full_name%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
        </div>
        <div class="col-md-6">
          <p><%=profile.user.email%></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Profile Bio</label>
        </div>
        <div class="col-md-6">
          <p><%=profile.bio%></p>
        </div>
    </div>
<% end %>

<%= yield %>
